@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: rgb(219 234 254);
}